header > div{ width: 940px; margin: 0 auto;}
header > div:first-child{ background: orange; padding: 1rem;}
header > div:last-child{ background: rgb(202, 202, 77); padding: 1rem;}
header > div:last-child a{ margin: 3rem;}

main {width: 940px; margin: 0 auto; border: 1px solid; padding: 1rem; display: flex;}
main > div {width : 660px; }
/* main aside {width: 300px} */

main .board-list{display: flex; flex-wrap: wrap; align-content: space-evenly;}
main .board-item{width: 300px; display: flex; margin: .5rem; border: 1px solid;}
main .board-item img {margin-right:2rem;}
main .board-item p {border: 1px solid;}

main .banner-lower {text-align: center;}

aside button{padding: 30px 60px; display: flex;}
footer {width: 940px; padding: 1rem; text-align: center; margin: 0 auto; background: orange;}


